<div class="container-fluid" id="home_page">
  <div class="jumbotron">
    <div class="container">
      <h1 class='text-center'>Welcome to Twilio App</h1>
    </div>
  </div>
  
  <div class='container'>
    <p>What would you like to do</p>
    <ul>
      <li>Send Message <%= link_to 'Click Here', new_sm_path %> </li>

      <li> Watch Random vidoes </li>
    </ul>
  </div>
</div>  